.split-view {
  margin: 0 auto;
  width: 600px;
}

#rule {
  padding: 0;
  background-color: #F3F3F3;
  display: block;
  border: 1px solid #999;
}

#rule ul {
  list-style: none;
  border: 4px solid #F3F3F3;
  border-bottom-width: 6px;
  height: 3em;
  margin: 0;
  padding: 0;
}

#rule li.segment {
  float: left;
  line-height: 3em;
  margin: 0 5px 0 0;
  padding: 0 1.5em;
  background-color: #FFEAB1;
  border: 1px solid #FFCB2F;
}

#rule li.segment.selected {
  background-color: #FFCB2F;
}

#rule li.segment.hover {
  cursor: move;
}

#current-segment .arrow {
  position: relative;
  margin-top: 10px;
  background-image: url({{URL}}&asset=segment-arrow.gif);
  width: 32px;
  height: 16px;
}

#segment {
  border: 2px solid #FFCB2F;
  background-color: #FFEAB1;
  padding: 10px 10px 0;
}

#segment p {
  float: left;
  margin-right: 10px;
}
#segment br {
  clear: both;
}

#segment-actions {
  margin: -10px -10px;
  float: right;
}
